.edit-product {
  margin: 10px 0;
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;

  .images-area {
    width: 210px;
    margin: 5px;

    .images-container {
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      // img {
      //   width: 97px;
      //   height: 97px;
      //   margin: 2px;
      //   object-fit: cover;
      //   border-radius: 3px;
      // }

      .image-container {
        display: flex;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;

        .image {
          width: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }

      .icon-container {
        background-color: red;
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-top: -5px;
        margin-left: -20px;
        cursor: pointer;
        border: none;
        align-self: flex-start;
        color: white;
        font-weight: bold;

        &:hover {
          background-color: rgb(196, 0, 0);
        }
      }
    }
  }

  .product-info {
    margin: 5px;
    width: 690px;
    display: flex;
    flex-direction: column;

    .description {
      margin-top: 10px;
      min-height: 150px;
      height: 250px;
      resize: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    .price {
      margin-top: 10px;
      width: 100px;
      text-align: right;
    }
  }

  .product-options {
    margin: 5px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      margin: 10px 0;
      width: 90%;
    }
  }
}
