.item {
  display: flex;
  margin: 20px 0;

  .item-image {
    object-fit: contain;
    width: 180px;
  }

  .item-info {
    padding-left: 20px;

    .item-title {
      font-size: 17px;
      font-weight: 800;
    }

    > button {
      background-color: #f0c14b;
      border: 1px solid;
      margin-top: 10px;
      border-color: #a88734 #9c7e31 #846a29;
      color: #111;
    }
  }
}
