.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;

  .login-logo {
    margin: 20px auto;
    object-fit: contain;
    width: 100px;
  }

  .login-container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;

    > h1 {
      font-weight: 500;
      margin-bottom: 20px;
    }

    > form {
      > label {
        > h5 {
          margin-bottom: 5px;
        }

        > input {
          height: 30px;
          margin-bottom: 10px;
          background-color: white;
          width: 98%;
        }
      }
      > button {
        background-color: #f0c14b;
        border-radius: 2px;
        width: 100%;
        height: 30px;
        border: 1px solid;
        margin-top: 10px;
        border-color: #a88734 #9c7e31 #846a29;
      }
    }

    > p {
      margin-top: 15px;
      font-size: 12px;
    }

    > button {
      border-radius: 2px;
      width: 100%;
      height: 30px;
      border: 1px solid darkgray;
      margin-top: 10px;
    }
  }
}
